.footer{
    background-color: #1890ff;
    padding: 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    div{
        padding-left: 15px
    }
}