@use "./styles/themify.scss" as *;
@use "./components/header/header.module.scss" as header;
@use "./components/footer/footer.module.scss" as footer;

$appWrapperHeight: calc(
  100vh - #{header.$headerHeight} - #{footer.$footerHeight}
);

.App {
  @include themify($themes) {
    background-color: themed("global_background_color");
  }
  min-height: 100vh;
  transition: 0.3s;
}

.appWrapper {
  height: $appWrapperHeight;
  overflow: auto;
}
